body{
    
}
a{
    color: black;
    text-decoration: none;
}
.logo1{
    color: #ce2020;
    display: inline;
}
.logo2{
    color: #8dc728;
    display:inline;
}
header{
    display: flex;
}
header *{
    justify-content: space-between;
}
.menu {
    text-align: right;
}